@font-face {
    font-family: 'a_PlakatCmplRl&Bt';
    src: url('../fonts/a_PlakatCmplRrBt_ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_PlakatCmplRl&Bt';
    src: url('../fonts/a_PlakatCmplRrBt_ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
